<button class="back-btn" (click)="goBack()">← Volver</button>

<div *ngIf="pokemon" class="pokedex-card">

  <div class="left-pane">
    <img [src]="pokemon.image" [alt]="pokemon.name" />
    <div class="mini-id">#{{ pokemon.id }}</div>
  </div>

  <div class="right-pane">
    <div class="title-row">
      <h1>{{ pokemon.name | titlecase }}</h1>
      <div class="small-id">#{{ pokemon.id }}</div>
    </div>

    <div class="button-row">
      <button class="nav-btn" (click)="previousPokemon()" [disabled]="!pokemon || pokemon.id <= 1">Anterior</button>
      <button class="nav-btn" (click)="nextPokemon()">Siguiente</button>
    </div>

    <div class="meta">
      <p><strong>Altura:</strong> {{ pokemon.height }}</p>
      <p><strong>Peso:</strong> {{ pokemon.weight }}</p>
      <p><strong>Tipos:</strong> {{ pokemon.types.join(', ') }}</p>
      <p><strong>Experiencia Base:</strong> {{ pokemon.baseExperience }}</p>
      <p><strong>Habilidades:</strong> {{ pokemon.abilities.join(', ') }}</p>
    </div>

    <div class="stats">
      <strong>Stats:</strong>
      <div class="stat-row">
        <div class="stat" *ngFor="let s of pokemon.stats">{{ s.name }}: {{ s.value }}</div>
      </div>
    </div>


  </div>

</div>